@{
    DateTime now = DateTime.Now.Date;
    string time = now.ToString("yyyy-MM-dd");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mom1._1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mom1._1.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 pt-3 pb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">LOGO</a>
               

                <p>Dagens datum är: @time</p>
            </div>
            
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <ul class="navbar-nav flex-grow-1">
                    <li id="index" class="nav-item border border-dark mb-2 text-center">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Start</a>
                    </li>
                    <li id="razor" class="nav-item border border-dark mb-2 text-center">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Razor">Razor</a>
                    </li>
                    <li id="about" class="nav-item border border-dark mb-2 text-center">
                        <a class="nav-link text-dark" asp-area="" asp-page="/About">Om sidan</a>
                    </li>
                </ul>
            </div>
            <div class="col-9 text-center">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>


    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container mt-2">
            Av Navid Ghate - Kontakta mig via e-post: <a
                href="mailto:nagh2200@student.miun.se">nagh2200@student.miun.se</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>