@page
@model MyApp.Namespace.AboutModel
@{
}

<div class="text-start">
    <h1 class="fs-3 mb-3">Om mig</h1>

    <p>
        Hej jag heter Navid och är nu inne i min andra årskurs på Webbutvecklingsprogrammet på MIUN. Jag är 29 år gammal
        och bor i mitt nyinköpta hus med min sambo Sandra och min 2 åriga son Aaron. Jag jobbar som controller (ekonom)
        på Sahlgrenska sjukhus och trivs väldigt bra där. I min fritid gillar jag att träna, laga god mat, umgås med
        familj och vänner, jag har även intresse för att spela datorspel fastän tiden inte räcker åt ibland. Månadens
        spel är Palworld som efterliknar Pokémon men ändå inte.
    </p>

</div>