@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen!</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dignissimos doloribus mollitia assumenda voluptate?
        Dolor dolorum ex ipsum at ducimus quo praesentium. Eius veniam facere impedit dolores, dolore nesciunt dolorum.
    </p>
    <p>asdaasdasdadssds</p>

</div>
