@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-start">
    <h1 class="fs-3">Välkommen!</h1>

    <p>Välkommen till moment 1.1 på kursen DT191G, Webbutveckling med .NET!</p>
    <p>Kursen började 2024-01-15 och har ett avslut 2024-03-17 och är den sista programmeringskursen innan examensjobbet!</p>

</div>
